<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>
		<add key="ApiUsername" value="nmg196"/>
		<add key="ApiPassword" value="zaRQc8BtrP1KvE2FmLCW6V3y_JqXnU"/>
		<add key="CertificateExpirationDays" value="7"/>
	</appSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>

</configuration>
